@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.fullscreen-form-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.fullscreen-bg-container,
.login-ct {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 50vw;
}

.login-ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-group {
  margin: 2rem;
}

.login-group h2 {
  padding: 0;
  margin: 0;
}

.login-group label,
.login-group input {
  display: block;
  min-width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.login-group input {
  padding: 0.5rem 0.75rem;
}

.fullscreen-bg-container {
  background-color: #646cff;
}

.fullscreen-form-wrapper h1 {
  text-align: left;
  align-self: flex-start;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  padding: 2rem;
  color: white;
}

.sidebar {
  padding: 2.5rem;
  background-color: #f4faff;
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar img {
  padding: 0.5rem 0.75rem
}

.sidebar .logout {
  padding: 0.5rem 0.75rem;
}

.content {
  padding: 2.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul li a {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: 0.2s;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

ul li a svg {
  font-size: 1.5rem;
}

ul li a:hover {
  background-color: #edeeff;
}

h1 {
  margin: 0;
  white-space: nowrap;
  padding: 0.75rem 0.5rem;
}

.logo h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#hidden-input {
  display: none;
}

.upload-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5rem 6rem;
  border-radius: 5px;
  font-weight: 500;
  color: blue;
  background-color: #f4faff;
  border: solid 1px #d7d7ff;
  cursor: pointer;
  transition: 0.2s;
}

.choose-file-btn:hover {
  border-color: blue;
}

.image-preview-container img {
  max-width: 500px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-buttons button,
.logout button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  color: blue;
  background-color: #e6e6ff;
  cursor: pointer;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

section div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}